
body {
    background-color: lightblue;
    margin: 0;
    
}

.header {
    background-color:  #085E7D;
    color: #fff;
    margin: 0;
   
    
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    
  }
  
  ul{
    list-style: none;
  }

  .navbar-ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
 .navbar-li {
    margin: 0 10px;
  }
 
  

  a {
    color: #fff;
    text-decoration: none;
  }


.personalInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;

}

 
.container {
    max-width: 960px;
    margin: 0 auto;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
  }
  
  .col {
    flex-basis: 50%;
    padding: 10px;
    box-sizing: border-box;
  }

  .footer {
    flex: display;
    justify-content: center;
    align-items: center;
    background-color: #085E7D;
    color: white;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
  }


  .footer-container {
    text-align:center;
}



 