body{

    background-image: url('back.jpg') ;
}
table td{
    border: 0px solid rgb(82, 164, 192); 
    text-align:center;
    background-color: rgb(158, 210, 225)
    ;
 }
 .center {
    margin-left: auto;
    margin-right: auto;

 }