body {
  margin: 0;
  background-color: gainsboro;
}

a {
  color: #fff;
  text-decoration: none;
}

.header {
  min-height: 100vh;
   background-image: linear-gradient(to bottom,#131617 , #454b5c);
}

.page-section:hover {
  animation: headShake;
  animation-duration: 1s;
}

.social-media {
  display: flex;
  justify-content:space-evenly;
}

.social:hover {
  color: darkcyan;
  transform: scale(1.3);


}

#home {
  background-image: url('../images/home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
 
  display: flex;
  align-items: center;
  justify-content: center;

}
#about {
  margin-top: 100px;
  display: flex;
  justify-content: center;

}

.main {
  background-color: gainsboro;

}

@media (min-width: 992px) {
  .header {
    min-height: 100vh;
    width: var(240px);
    background-size: cover;
    background-position: center;
  }

  .navbar-brand img {
    border: 10px solid var(--color-brand2);
  } }






